*.Rhistory
*.RData
.Rproj.user/
ENV/
DATABASE/
._.DS_Store
._Annogen.logo.png
._DATABASE
docker.login.credentials.md
Dockerfile
docker.run.bash
._docker.run.bash
sureviz_v1
sureviz_v1.sif
AppToDos.md
credentials